main{

    height: 1000px;
    color: #000000;

}



 /* findjobOrEmployee Section  */

 .mainSection{

    display: flex;
    flex-direction: column;
    align-items: center;
 

}


 .findjobOrEmployee h2 {

    margin-left: 101px;
    margin-top: 50px;
    margin-bottom: 24px;

}

.findjobOrEmployee p {

    text-align-last: center;
}

button{

    background-color: #282828;
    border: 0;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;

}

.findjobOrEmployee button {

    cursor: pointer;
    height: 32px;
    width: 168px;
    margin-left: 58px;
    margin-top: 30px;
 
}



/* search Section */

main .search{
    position: relative;
}

main .search input{

    border: 0;
    border-bottom: 1px solid #000000;
    height: 20px;
    width: 600px;
    background-color: #FFFFFF00;
    margin-top: 53px;
}

main .search input:focus{
    
    outline: none;
    border-bottom: 1px solid #000000;


}
main .search span , main .search .tune {

    position: absolute;
    top:38px;
    color: #938C8C;
    font-size: 20px;

}

main .search .tune{

    left: 95%;

}

main .search span {
  
    left: 91%;

}




/* filter Section */




.filter{
 
    margin-bottom: 39px;
    margin-top: 112px;
}


.filter a{
   
    margin: 0 30px;
   

}

.filter a:hover{
   
    color: #000000;
    text-decoration: 2px underline #FF8500;
    text-decoration-skip: word-spacing;
}





/* card section */




.cardSection{

    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}


.cardSection .card{

    margin: 0 40px;
    Width: 305px;
    Height: 401px;
    border: none;
    box-shadow: 0px 4px 20px rgba(40, 40, 40, 0.15);
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px;

}

.cardSection .card .titleCard img{

    border-radius: 50px;

}

.cardSection .card .titleCard{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;

}

.cardSection .card .titleCard h4 {

    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    margin-right: 45px;
}

.cardSection .card .titleCard p {

    font-weight: 500;
    font-size: 8px;
    line-height: 24px;
    color: #938C8C;

}

.cardSection .card .detailsCard .details{

    display: flex;
    font-size: 13px;
}

.cardSection .card .detailsCard .details label{

    color: #938C8C;
 
}

.cardSection .card .detailsCard .details p{

    margin-left: 5px;
}

.cardSection .card .detailsCard .details label , .cardSection .card .jobDe h2, .card .status{

    margin-left: 32px;
    margin-bottom: 18px;
}

.cardSection .card .jobDe h2{

    margin-bottom: 32px !important;

}
.card .status{

    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    font-size: 8px;
}

.card .status .timetable{

    display: flex;
    color: #938C8C;

}

.card .status .timetable .date{

    margin-left: 6px;
    
}

.card .status .activeInactive{

    display: flex;
    align-items: center;

}

.card .status .activeInactive span{

    margin-left: 1px;

}

.card .status .activeInactive span{

    color: #71AA27;

}

.card .status .activeInactive .activeInactiveCircle{

    background-color: #71AA27;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    
}

.card .moreInformationButton{

    display: flex;
    justify-content: center;
   
}

.card .moreInformationButton button{

    width: 220px;
    height: 35px;
}

